.articles{
    background-color: #a0cecb;
    border: 2px solid darkblue;
    padding: 1rem;
    margin: 1rem 0;
    margin-left: 15px;
    margin-right: 15px;
    color: black;
    display: flex;
    flex-direction: column;
}

.photoSection{
    display: flex;
   justify-content: center;
   align-items: center;
}
.articleHeader{
    margin-top: 45px;
}