.container--login {
    text-align: center;
    background-color: lightgray;
   
}

.form-control {
    display: block;
    width: 75%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    margin-left: 30px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: whitesmoke;
    background-clip: padding-box;
    border: 1px solid darkblue;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.h1, h1 {
    font-size: 2.5rem;
    text-align: center;
}
.h2, h2{
    margin-left: 30px;
}
.sub{
    margin-left: 30px;
}
.email{
    margin-left: 30px;
    font-weight: 500;
}

fieldset {
    min-width: 0;
    padding: 1rem 0;
    margin: 0;
    border: 0;
}

.form--login {
    display: inline-block;
    margin: 0 auto;
    text-align: left;
}

.form--login > fieldset > input[type="email"] {
    width: 25em;
    margin-left: 30px;
}

.label--login {
    width: 8rem;
    display: inline-block;
}

.form--login {
    background-position-x: left;
    border-radius: 15%;
    border: solid darkblue;
    z-index: 1;
    min-height: 25rem;
    min-width: 45rem;
    background-color: #a0cecb;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-top: 200px;
    
}

.button--close {
    position: relative;
    bottom: -2rem;
}
.reg{
    margin-left: 30px;
}
.eAdd{
    margin-left: 30px;
}
.fullName{
    margin-left: 30px;
}
 
